<!DOCTYPE html>
<html>
<head>
    <title>The Forum</title>
</head>
<body>
<h2>The forum. Nerds assemble and chat!!</h2>

<p>Wanna chip in and start?<a href="/login">Login here</a>.</p>
</body>
</html>
