<!DOCTYPE html>
<html>
<head>
    <title>Hi, {{.Name}}</title>
</head>
<body>
<h2>Welcome {{.Name}}!</h2>

<p>You want to edit your account?<a href="/update/{{.ID}}">Edit here</a>.</p>
</body>
</html>
